.env
sqlmap-dev
# next-test-app
deddit
openapi-go-gin-postgres-sqlc
# https://github.com/daptin/daptin.git
daptin 
__pycache__
node_modules
temp.txt

# Allow
!supply-chain-mapper-agent/repo-to-scan/node_modules/*